export const tarotCards = [
  "The Fool", "The Magician", "The High Priestess",
  "The Lovers", "The Tower", "The Sun"
];

export function getTarotCard() {
  return tarotCards[Math.floor(Math.random() * tarotCards.length)];
}
